/* Left Navigation */
.left-nav {
  background-color: var(--background-color /* Gold */
  );
  width: 200px;
  border-right: 1.5px solid var(--glow-color);
}

.left-nav a {
  display: block;
  padding: 1rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid var(--glow-color);
}

.left-nav a.active {
   background-color: var(--primary-color);
   color: var(--background-color);
}

.left-nav a:hover {
   background-color: var(--primary-color);
   color: var(--background-color);
}

.disabled-link {
    pointer-events: none;
    color: gray;
    cursor: default;
    background-color: gray;
}
  