.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom: solid var(--glow-color);
    padding: 7px 15px;
    color: white;
    
  }
  
  .header-left {
    display: flex;
    align-items: center;
    border: none;
  }
  
  .header-left .title {
    font-size: 18px;
    font-weight: bold;
    color: #fdfdfd;
    text-decoration: none;
    margin-right: 10px;
    border: 0;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-bottom: 0;
    
  }
  
  .header-right .header-button {
    margin-left: 10px;
    padding: 6px 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border: solid var(--glow-color);
    font-weight: bold;
  }

  .header-right .header-button:hover {
    margin-left: 10px;
    padding: 6px 12px;
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border: solid var(--primary-color);
    font-weight: bold;
  }
  
  .header-right .header-button:first-child {
    margin-left: 0;
    border-bottom: none;
  }


  