/* CSS Custom Properties */
:root {
  @import url("https://fonts.googleapis.com/css?family=Raleway");
  --glow-color:  #A5E9E8;       /* Teal */
  --primary-color: #c40021;    /* Red */
  --secondary-color: #F7A007;  /* Orange */
  --background-color: #0f1111;  /* Teal */
  --text-color: #262E57;       /* Dark Gray */
  --right-panel-color: #F8F8F8; /* Light Gray */
  --vertical-nav-color: #FFD700; /* Gold */
}



/* Front Page Content */
.front-page-content {
  /* Add any additional styles for the front page content */
  flex: 1;
}

/* Layout */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
}


.front-page-content,
.right-panel {
  padding: 1rem;
}

.classic-button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: solid var(--glow-color);
  border-bottom: none;
  font-weight: bold;
}

.classic-button:hover {
  margin-left: 10px;
  padding: 6px 12px;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: solid var(--primary-color);
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .main-content {
    flex-direction: column;

  }

  .left-nav,
  .right-panel {
    width: 100%;
  }
}
